Be specific about tagging of Cose_Sign1 and CWT

During interop-testing we have run into a few possible interop-problems. 

Section 4.2 of [RFC8152](https://tools.ietf.org/html/rfc8152#section-4.2) states the following:

> The structure can be encoded as either tagged or untagged depending on the context it will be used in.  

In my meaning our context is clear, and there is no need for a tag. However, other implementations even require the tag. We should be specific in the spec. about this.

Next, section 6 in [RFC8392](https://tools.ietf.org/html/rfc8392#section-6) states:

> How to determine that a CBOR data structure is a CWT is application dependent.  In some cases, this information is known from the application context, such as from the position of the CWT in a data structure at which the value must be a CWT.  One method of indicating that a CBOR object is a CWT is the use of the "application/cwt" content type by a transport protocol.
>
> This section defines the CWT CBOR tag as another means for applications to declare that a CBOR data structure is a CWT.  Its use is optional and is intended for use in cases in which this information would not otherwise be known.

I read this that our spec. should explicitly point out that no CWT CBOR tag should be used. 

The test repository is now horribly outdated. Test cases are provided by all onboarded countries in https://github.com/eu-digital-green-certificates/dcc-quality-assurance